* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin : 0;
    padding: 0;
    background: #f7f7f7;
}
.info {
    display: flex;
    flex-direction: row-reverse;
}

small {
    position: relative;
    top: 2em;
    right: 0.5em;
    font-size: 12px;
}


.price{
    display: inline;
    position: relative;
}

.container {
    position: relative;
    margin: 20px;
    width: 400px;
    height: 600px;
    text-align: center;
    border-radius: 35% 35% 5px 5px;
    padding-top: 150px;
    background: #f6fdff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}


.nav{
    padding-bottom: 25px;
}
select {
    border-radius: 5px;
    width: 100px;
    height: 20px;
    text-align-last : center;
    appearance: none;

}
.info {
    padding-bottom: 60px;
}


.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 25px;
    justify-items: center;
}

.seat {
    position: relative;
    width: 40px;
    height: 30px;
    background: #797979;
    border-radius: 50% 50% 0 0;

}
.seat:not(.occupied):hover{
    cursor: pointer;
    transform: scale(1.1);
}

.selected {
    background: #9ec9f1;
}

.occupied {
    background: #ff0000bf;
}


span {
    display: block;
    padding-top: 6px;
}